- if @constituency.present?
  %h2 Responses for #{@constituency}

  %h3 Are you going to vote?
  %dl
    %dt Will vote
    %dd= @constituency.responses.where(will_vote: true).count
    %dt Will not vote
    %dd= @constituency.responses.where(will_vote: false).count

  %h3 Who are you going to vote for?
  %dl
    - @constituency.candidates.each do |c|
      %dt= c
      %dd= c.responses.count

%h2 Responses nationally

%h3 Are you going to vote?
%dl
  %dt Will vote
  %dd= Response.where(will_vote: true).count
  %dt Will not vote
  %dd= Response.where(will_vote: false).count

%h3 Who are you going to vote for?
%dl
  - Party.all.each do |p|
    - if p.responses.count > 0
      %dt= p
      %dd= p.responses.count