- if @response.try(:constituency).present?
  %p
    Your constituency is
    %b= @response.constituency
  = simple_form_for @response do |f|
    = f.input :constituency_id, as: :hidden, value: @response.constituency.id
    = f.input :will_vote, as: :radio, label: "Are you going to vote?", wrapper_html: { id: 'will_vote_field' }
    = f.input :candidate_id, as: :select, collection: @response.constituency.candidates, label_method: :to_s, label: "Who are you going to vote for?", wrapper_html: { id: "candidate_field"}

    = f.submit "Submit"

- else
  = simple_form_for "location", method: :post do |f|
    = f.input "address", label: 'Location', placeholder: "e.g. CF11, Old Kent Road, Stone Henge..."
    = f.submit "Find"